header{
    background-image: url(../image/amorphous.jpg);
    background-color: rgba(255, 255, 255, 0.562);
    background-repeat: no-repeat;
    width: auto;
    height: 115px;
    color: #333;
}
header p{
    text-align: right;
}
.news{
    text-align: center;
}
.footer{
    background-color: rgb(171, 224, 180);
}
a{
    text-decoration: none;
}
a:link{
    color:blue;
}
a:visited{
    color:blue
}
a:hover{
    color:black;
    background-color: rgb(189, 189, 255);
}
a:active{
    color: blueviolet;
}
